.wrapper { -webkit-perspective: none; -moz-perspective: none; -ms-perspective: none; -o-perspective: none; perspective: none; }

.off-canvas.open-menu .page { -webkit-filter: none; -moz-filter: none; filter: none; }
.off-canvas.open-menu .outside { background-color: rgba(255, 255, 255, 0.95); }

.header .menu-button { z-index: 10000; }
